<p>
<span class="duplicated-transaction-data"><%= model.prettyTime() %></span> /
<span class="duplicated-transaction-data"><%= model.get('amount') %></span> /
<span class="duplicated-transaction-data"><%= model.get('description') %></span><br />
er en mulig duplikat av: <br />
<span class="duplicated-transaction-data"><%= duplicate.prettyTime() %></span> /
<span class="duplicated-transaction-data"><%= duplicate.get('amount') %></span> /
<span class="duplicated-transaction-data"><%= duplicate.get('description') %></span>.
</p>

<% if (model.get('description') !== duplicate.get('description')) { %>
<p>
Beskrivelsene er ulike, så hvis du vil oppdatere den eksisterende transaksjon med den nye beskrivelsen, trykk <a href="#" class="update-description">her</a>.
</p>
<% } else { %>
  <p>Transaksjonene har likt beløp og beskrivelse, så du må selv avgjøre om du skal slette eller lagre den nye transaksjonen.</p>
<% } %>
