<h1>TransactionGroups#new</h1>
<%= form_for @transaction_group do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :regex %>
  <%= f.text_field :regex %>

  <%= f.submit %>
<% end %>
