<form>
  <label for="title_<%= id %>">Tittel</label>
  <input id="title_<%= id %>" required="required" name="title" size="30" type="text" value="<%= title %>" />

  <label for="regex_<%= id %>">Søkeord (regex)</label>
  <input id="regex_<%= id %>" required="required" name="regex" size="30" type="text" value="<%= regex %>" />

  <a href="#" class="delete-transaction-group" rel="nofollow">Slett</a>
</form>
