<div id="login-fields">
  <h2 id="login-fields-title">Logg inn</h2>

  <div id="login-fields-content">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :class => 'form-horizontal') do |f| %>
      <div class="control-group">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="control-group">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div class="form-actions">
        <%= f.submit "Logg inn", :class => 'btn btn-primary' %>
      </div>
    <% end %>
    <div id="login-fields-shared-links">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>
