<script type="text/html" id="transaction">
<form class="transaction">
  <input type="text" name="time" data-type="time" value="<!= time !>" class="transaction-time" />
  <input type="text" name="amount" data-type="amount" value="<!= amount !>" />
  <input type="text" name="description" data-type="description" value="<!= description !>" />
  <input type="submit" class="submit-transaction" />
</form>
</script>

<h1>TransactionBatches#new</h1>

<%= form_for @transaction_batch, :remote => true do |f| %>
  <%= f.text_area :content %>

  <br />

  <%= f.label :parser %>
  <%= f.select(:parser, options_for_select([['DNB', 'dnb'], ['SB1', 'sb1']])) %>

  <br />

  <%= f.submit %>
<% end %>

<div id="transactions">
  <input type="submit" value="Submit all" id="submit-all" />
</div>
