<!DOCTYPE html>
<html>
<head>
  <title>Utgifter</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <p>Utgifter</p>
</header>
<nav>
  <ul>
    <li><%= link_to('Home', root_path) %></li>
    <li><%= link_to('List transaksjoner', transactions_path) %></li>
    <li><%= link_to('Legg til transaksjoner', new_transaction_batch_path) %></li>
    <li><%= link_to('List expense groups', expense_groups_path) %></li>
    <li><%= link_to('Legg til expense group', new_expense_group_path) %></li>
  </ul>
</nav>

<div id="main-content">
  <%= yield %>
</div>

</body>
</html>
